@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins-Medium.otf");
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins-Regular.otf");
}

:root {
  --color-background: #fffdf7;
  --color-black: #212121;
  --color-text: #4f4f4f;
  --color-text-out: #90908e;
  --color-primary: #ffbf00;
  --color-primary-out: rgba(229, 255, 111, 0.852);
  --color-secondary: #fff2cc;
  --color-white: #ffffff;
  --color-red: #e74c3c;
  --color-green: #2ecc71;
  --color-separate: #cccccc;
  --color-input-out: #ededed;
}

html,
body {
  font-family: "PoppinsRegular", "Rubik", sans-serif !important;
  background-color: var(--color-background) !important;
  color: var(--color-text) !important;
  font-size: 16px !important;
}

b {
  font-family: "PoppinsMedium", "Rubik", sans-serif !important;
}

.hidden {
  display: none !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.bg-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  background-color: var(--color-secondary);
}

.width-fix {
  width: calc(100% - 20px) !important;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  border-radius: 20px !important;
  padding: 10px 18px !important;
  font-size: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
  border: none !important;
}

.container-img {
  width: 60px;
  height: 60px;
  background-image: url("../img/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
  border-radius: 20px;
}

.infos {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos h1 {
  font-size: 18px;
  margin-bottom: 5;
  color: var(--color-black);
}

.infos-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.status-open {
  font-size: 14px;
  margin-bottom: 0;
  color: var(--color-green);
}

.status-open.closed {
  color: var(--color-red);
}

.link {
  text-decoration: none !important;
  font-size: 14px;
  color: var(--color-primary) !important;
}

section.categoria {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--color-background);
  width: 100%;
  padding-top: 15px;
}

.container-menu {
  margin-bottom: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
}

.item-categoria {
  flex: none;
}

.btn-white {
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 20px !important;
  padding: 8px 25px !important;
  font-size: 20px !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}

.btn-yellow {
  border: none !important;
  background-color: var(--color-primary) !important;
  color: var(--color-black) !important;
  border-radius: 20px !important;
  padding: 15px 25px !important;
  font-size: 20px !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}

.btn-sm {
  padding: 8px 13px !important;
  border-radius: 15px !important;
  font-size: 16px !important;
}

.btn-white:hover,
.btn-white.active {
  background-color: var(--color-primary) !important;
}

.title-categoria {
  color: var(--color-black);
  margin-left: 5px;
}

.container-group .card {
  padding: 15px;
  cursor: pointer;
}

.container-img-produto {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-secondary);
  border-radius: 15px;
  margin-right: 20px;
  flex: none;
}

.infos-produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos-produto .name {
  font-size: 18px !important;
  color: var(--color-black) !important;
  margin-bottom: 0;
}

.infos-produto .description {
  font-size: 14px !important;
  color: var(--color-text) !important;
  margin-bottom: 5px;
}

.infos-produto .price {
  font-size: 16px !important;
  color: var(--color-primary) !important;
  margin-bottom: 0px;
}

.menu-bottom {
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
  width: calc(100% - 20px);
  max-width: 800px;
  margin: 0 auto;
  border-radius: 50px;
  padding: 5px;
  font-size: 20px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: var(--color-secondary);
  border: 1px solid #ffe28c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-bottom-item {
  text-decoration: none !important;
  color: var(--color-text-out) !important;
  font-size: 14px;
  flex: 1;
  text-align: center;
  padding: 10px 15px;
}

.menu-bottom-item.active {
  color: var(--color-black) !important;
  font-weight: bold;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: var(--color-primary) !important;
  border-radius: 50px;
}

.badge-total-carrinho {
  width: 21px;
  height: 21px;
  background-color: var(--color-primary) !important;
  color: var(--color-black) !important;
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  padding-top: 2px;
  margin-right: 2px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.menu-bottom.disabled {
  justify-content: center;
  padding: 15px;
  font-size: 18px;
}

/* Detalhes do Produto */
.bg-top.details {
  height: 410px;
}

.container-voltar {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  font-size: 18px;
  color: var(--color-black) !important;
}

.container-imagem-produto {
  height: 240px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.sub-title-categoria {
  color: var(--color-text-out);
  margin-left: 5px;
  font-size: 14px;
}

.card-opcionais {
  display: flex;
  flex-direction: row !important;
}

.infos-produto-opcional {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}

.infos-produto-opcional .name .infos-produto-opcional .price {
  color: var(--color-black);
}

.opcionais .badge {
  float: right;
  background-color: var(--color-secondary);
  padding: 7px 12px;
  border-radius: 50px;
  color: black;
  margin-top: 5px;
}

.checks {
  margin-left: 10px;
}

.container-check {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--color-input-out);
}

.container-check:hover input ~ .checkmark {
  background-color: var(--color-text-out);
}

.container-check input:checked ~ .checkmark {
  background-color: var(--color-primary);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-check input:checked ~ .checkmark:after {
  display: block;
}

.container-check .checkmark:after {
  left: 9px;
  top: 7px;
  width: 6px;
  height: 10px;
  border: solid var(--color-white);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border-width: 0 3px 3px 0;
}

.form-control {
  background-color: var(--color-white) !important;
  color: var(--color-black) !important;
  border-radius: 20px !important;
  padding: 15px 25px !important;
  font-size: 16px !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
  border: none !important;
  height: 50px;
}

textarea {
  height: 150px !important;
}

.menu-bottom.details {
  justify-content: space-between;
  padding: 8px 15px;
}

.add-carrinho {
  display: flex;
  text-align: center;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.btn-menos,
.btn-mais {
  color: var(--color-black);
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--color-primary-out);
}

.add-numero-itens {
  color: var(--color-black);
  padding: 2px 15px;
  font-size: 18px;
}

/* Sobre a empresa */

.bg-top.sobre {
  height: 180px;
}

.title-sobre {
  margin-bottom: 20px !important;
  margin-top: 5px !important;
  margin-right: 100px !important;
}

.sobre {
  font-size: 14px;
  color: var(--color-text) !important;
}

.container-img-sobre {
  position: absolute;
  right: 20px;
  margin-top: -50px;
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-white);
  border-radius: 15px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.normal-text {
  font-size: 14px;
  color: var(--color-text) !important;
}

.normal-text b {
  color: var(--color-black) !important;
}

.btn-full {
  font-weight: bold !important;
  position: fixed !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 10px !important;
  width: calc(100% - 20px) !important;
  max-width: 800px !important;
  margin: 0 auto !important;
  border-radius: 20px !important;
  padding: 8px 18px !important;
  font-size: 16px !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #ffe28c !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.btn-full.voltar {
  justify-content: center !important;
}

/* Carrinho */
.bg-top.pedido {
  height: 150px;
}

.container-detalhes {
  display: flex;
}

.carrinho .detalhes-produto {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carrinho .infos-produto {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.carrinho .detalhes-produto .name {
  font-size: 16px !important;
}

.carrinho .detalhes-produto .price {
  font-size: 14px !important;
  color: var(--color-black) !important;
}

.carrinho .detalhes-produto .name-opcional,
.carrinho .detalhes-produto .price-opcional,
.carrinho .detalhes-produto .obs-opcional {
  font-size: 14px;
  color: var(--color-text-out);
  margin-left: 10px !important;
}

.carrinho .detalhes-produto .obs-opcional {
  margin-right: 75px;
}

.detalhes-produto-edit {
  font-size: 14px;
  padding-left: 10px;
  color: var(--color-primary);
  cursor: pointer;
}

.carrinho .infos-produto .name-total {
  font-size: 18px !important;
  color: var(--color-black) !important;
}

.carrinho .infos-produto .price-total {
  font-size: 18px !important;
  color: var(--color-primary) !important;
}

.card-select {
  border: 2px dashed var(--color-primary) !important;
  cursor: pointer;
}

.color-primary {
  color: var(--color-primary) !important;
}

.card-address {
  cursor: pointer !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

.img-icon-details {
  width: 50px !important;
  height: 50px !important;
  background-color: var(--color-secondary) !important;
  color: var(--color-black);
  font-size: 22px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-address .infos {
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-size: 14px !important;
}

.card-address .infos .name {
  color: var(--color-black) !important;
}

.icon-edit {
  font-size: 16px !important;
  color: var(--color-primary) !important;
}

/* Pedido */
.bg-top.pedido {
  height: 150px;
}

.card-status-pedido {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 10px 15px !important;
}

.card-status-pedido .infos {
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-size: 14px !important;
}

.card-status-pedido .infos .name {
  color: var(--color-black) !important;
}

.detalhes-produto {
  flex: 1;
  padding-left: 5px;
}

.detalhes-produto-acoes {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px !important;
  padding: 5px 15px !important;
  border-right: 1px solid var(--color-separate) !important;
  color: var(--color-black) !important;
}

.detalhes-produto-acoes:last-child {
  border-right: none !important;
}

.detalhes-produto-acoes i {
  font-size: 18px !important;
}

.pedido .name-total {
  font-size: 18px !important;
  color: var(--color-black) !important;
}

.pedido .price-total {
  font-size: 16px !important;
  color: var(--color-primary) !important;
}

.card-status-pedido.active {
  background-color: var(--color-primary) !important;
}

.card-status-pedido.pending {
  opacity: 0.3;
}

.card-status-pedido.pending .img-icon-details {
  width: 30px !important;
  height: 30px !important;
  font-size: 14px !important;
  border-radius: 8px !important;
}

.card-status-pedido.cancelado .img-icon-details {
  background-color: var(--color-red) !important;
  color: var(--color-white) !important;
}
